.landing-main{
    animation: main-fade-out 2s linear 6s 1 both;
}

.landing-logo{
    animation: logo-fade-in 4s linear 0s 1 ;
}

.mobile-landing-logo{
    animation: mobile-logo-fade-in 4s linear 0s 1 ;
}

.landing-text{
    animation: text-fade-in 1s linear 3s both;
}

.ultimate{
    animation: text-fade-in 1s linear 3.5s both;
}

.allman{
    animation: text-fade-in 1s linear 4s both;
}

.brothers{
    animation: text-fade-in 1s linear 4.5s both;
}

.experience{
    animation: text-fade-in 1s linear 5s both;
}

@keyframes main-fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes logo-fade-in {
    0% {
        opacity: 0;
        transform: rotateX(270deg);
        width: 20rem;
    }
    75%{
        transform: rotateX(360deg);
        width: 35.75rem;
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
        width: 35.75rem;
    }
}

@keyframes mobile-logo-fade-in {
    0% {
        opacity: 0;
        transform: rotateX(270deg);
        width: 50%;
    }
    75%{
        transform: rotateX(360deg);
        width: 90%;
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
        width: 90%;
    }
}

@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}