.shows-container{
    position: relative;
    background-color: var(--background-color-one);
}

.shows-container::before{
    
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

.tckt-btn{
    border-bottom: var(--border-one);
}


