.shows-container{
    position: relative;
    background-color: var(--background-color-one);
}

.shows-container::before{
    
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    opacity: var(--background-opacity);
}

.venue,
.tckt-btn,
.shows-top-link{
    transition: 500ms ease-in-out;
    color: var(--text-color-one);
}
.venue:hover,
.tckt-btn:hover,
.shows-top-link:hover{
    color: var(--text-color-two);
}

@keyframes text-hover {
    0%{
        color: var(--text-color-one)
    } 100% {
        color: var(--text-color-two)
    }
}

.tckt-btn{
    border-bottom: var(--border-one);
}


