.band-member-container{
    border-bottom: var(--border-one);

}

.member-container{
    position: relative;
}

.member-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

.member-container,
.member-name,
.member-pic,
.member-description,
.media-icons,
.band-top-link{
    z-index: 1;
}