.band-member-container{
    border-bottom: var(--border-one);
}

.member-container{
    position: relative;
    background-color: var(--background-color-one);
}

.member-container::before{
    content: var(--background-content);
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

.member-name,
.member-description{
    color: var(--text-color-one);
    z-index: 1;
}

.member-pic{
    z-index: 1;
    filter: sepia(.35);
}

.media-icon,
.band-top-link{
    transition: 500ms ease-in-out;
    color: var(--text-color-one);
    z-index: 1;
}
.media-icon:hover,
.band-top-link:hover{
    color: var(--text-color-two);
}


