.band-member-container{
    border-bottom: var(--border-one);

}

.shows-header{
    background-color: #120204;
}

.member-container{
    position: relative;
}

.member-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

.member-pic{
    z-index: 1;
}

.band-top-link{
    background-color: var(--background-color-one);
}