.dropdown,
.open-dropdown,
.nav-link{
    z-index: 2;
    position: relative;
}

.individual-nav-link {
    background: var(--linear-gradient-one);
}

.nav-link-border{
    border: var(--border-three);
}

.dropdown{
    border-bottom: var(--border-two);
    background-color: var(--background-color-two);
}