.contact-header{
    border-top: var(--border-two);
    border-bottom: var(--border-two);
}

.contact-top-link{
    border-top: var(--border-one);
    border-bottom: var(--border-two);
    transition: 500ms ease-in-out;
    color: var(--text-color-one);
}

.contact-top-link:hover{
    color: var(--text-color-two);
}

.user-name,
.user-email,
.user-subject,
.user-message{
    border: var(--border-one)
}

.email-form-container{
    position:relative;
    background-color: var(--background-color-one);
}
.email-form-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}