#top{
    position: relative;
    z-index: 1;
}
.header-container,
.mobile-header-container {
    animation: header-fade-in 1s linear 1 both;
}

@keyframes header-fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header-pic,
.mobile-header-pic{
    border-top: var(--border-two);
    border-bottom: var(--border-two);
    filter:sepia(.35)
}
