.nav-link {
    position: relative;
    display: inline-block;
    color: var(--text-color-one);
    transition: 500ms ease-in-out;
}

.nav-link:hover {
    color: var(--text-color-two)
}

.nav-link::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: var(--border-four);
    transition: width .5s ease-in-out;
}

.nav-link:hover::before{
    width: 100%;
}