.revival,
.dont,
.every,
.les,
.large-videos-container{
    border-bottom: var(--border-one);
}


.videos-container{
    position: relative;
    background-color: var(--background-color-one);
}

.videos-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

iframe{
    z-index: 1;
}

.video-header{
    border-bottom: var(--border-two);
    border-top: var(--border-two);
}


.video-top-link{
    transition: 500ms ease-in-out;
    color: var(--text-color-one);
}

.video-top-link:hover{
    color: var(--text-color-two);
}

