.revival,
.dont,
.every,
.les,
.large-videos-container{
    border-bottom: var(--border-one);
}

.videos-container{
    position: relative;
    /* z-index: 1; */
}

.videos-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}

.single-video-header,
iframe,
.video-top-link{
    z-index: 1;
    position: relative;
}

.video-header{
    border-bottom: var(--border-two);
    border-top: var(--border-two);
}