footer{
    animation: main-fade-in 1s linear 1 both;
    bottom: 0;
    background-color: var(--background-color-two);
}

.footer-icons,
.footer-icons-link,
.mailto-link,
.phone-link,
.copyright,
.dev-link,
.icon-container{
    z-index: 1;
}

@keyframes main-fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}