.comment-name,
.contact-top-link{
    border-bottom: var(--border-one);
}

.testimonials-top-link{
    border-top: var(--border-one);
    background-color: var(--background-color-one);
}

.testimonials-header{
    border-top: var(--border-two);
    border-bottom: var(--border-two);
}

.testimonials-header,
.testimonials-header-text{
    background-color: var(--background-color-two);
}


.user-first-name,
.user-last-name,
.user-experience,
.post-button{
    border: var(--border-one)
}
.comments-container,
.form-container{
    position: relative;
}

.comments-container::before,
.form-container::before{
    position: var(--background-image-position);
    pointer-events: var(--background-pointer-events);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    width: var(--background-width);
    height: var(--background-height);
    z-index: var(--background-z-index);
    opacity: var(--background-opacity);
}


