#shows{
    animation: shows-fade-in 1s linear 1 both;
    position: relative;
    z-index: 0;
}



@keyframes shows-fade-in {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}
.shows-header{
    border-top: var(--border-one);
    border-bottom: var(--border-two);
}

.shows-header{
    /* background-color: var(--background-color-two); */
}
