* {
box-sizing: border-box;
padding: 0;
margin: 0;
scroll-behavior: smooth;
font-family: "Michroma", sans-serif;

/* variables */

/* borders */

--border-one: solid 1px rgba(245, 245, 245, 0.305);

/* background images */

 
--background-image-position: absolute;
--background-pointer-events: none;
--background-image: url('/public/peachPic2.png');
--background-size: cover;
--background-position: fixed;
--background-repeat: repeat-y;
--background-width: 100%;
--background-height: 100%;
--background-z-index: 0;
--background-opacity: .2;
}


#root{
    background-color: black;
}